/*--------------------------------------------Navbar.css*/

.navbar-custom {
    background-color: #1e2020;
}

.navbar-custom .navbar-brand {
    color: rgb(124, 230, 248);
}

.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-custom .nav-item:hover .nav-link {
    color: rgb(124, 230, 248);
}

.navbar-custom .navbar-text {
    color: #ffffff;
}

/*--------------------------------------------Hero Image.css*/

.hero {
    height: 100vh;
    background: url("../images/wahero.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover; 
    -o-background-size: cover;
}