/*--------------------------------------------Navbar.css*/

.navbar {
    padding: 0.1rem 1rem;
}

.navbar-custom {
    background-color: rgb(12, 11, 11);
}

.navbar-custom .navbar-brand {
    color: #00ccff;
}

.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-custom .nav-item:hover .nav-link {
    color: #00ccff;
}

.navbar-custom .navbar-text {
    color: #ffffff;
    font-size: smaller;
}

/*--------------------------------------------Hero Image/Social links.css*/

.hero {
    height: 95vh;
    background: url("../images/wahero2.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    z-index: -1;
}

.logo {
    height: 70px;
    position: absolute;
    padding-top: 18px;
    padding-left: 20px;
}

.vertical-align {
    position: absolute;
    bottom: 0;
}

.vertical-align i {
    font-size: xx-large;
    padding-bottom: 15px;
}

.fa-facebook, .fa-instagram, .fa-twitter, .fa-youtube {
    color: #14a8d4;
} 

.fa-facebook:hover {
    color: rgb(24, 119, 242);
}

.fa-instagram:hover {
    color: rgb(195, 42, 163);
}

.fa-twitter:hover {
    color: rgb(24, 199, 242);
}

.fa-youtube:hover {
    color: rgb(255, 0, 0);
}

/*--------------------------------------------Latest Release Artwork/Info/Links.css*/

.latest-release-container {
    background-color: #f1eded;
}

.latest-release-artwork {
    background: url("../images/wabwartwork.jpeg") no-repeat center center scroll;
    background-size: contain;
    
    padding: 0;
    min-height: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.latest-release-info {
    min-height: 300px; 
    border: 2px solid #00ccff;
    margin-top: 100px;
    margin-bottom: 100px;
}
