/*--------------------------------------------Fonts/Related Styling.css*/

@import url('https://fonts.googleapis.com/css2?family=Benne&family=Roboto:wght@300;400&family=Volkhov:wght@700&display=swap');
html {
    font-size: 100%;
    font-family: sans-serif;
}

body {
    line-height: 0;
}

.nav-link, .navbar-brand {
    font-family: 'Benne', serif;
    font-size: 1.2rem;
    padding: 8px 8px 0px 8px;
    letter-spacing: 1px;
}

.navbar-brand {
    font-size: 2rem;
}

.release-title>h1 {
    font-size: 3rem;
    font-family: 'Benne', serif;
    margin-bottom: 0px;
}

.release-info {
    text-align: center;
}

.release-info>h2 {
    font-family: 'Volkhov', serif;
    font-weight: 400;
    padding-top: 2vh;
    line-height: 2rem;
}

.line-break {
    margin: 10px;
}

.release-info>p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.02rem;
    line-height: 1.8;
}

.bio-title>h1 {
    font-size: 3rem;
    font-family: 'Benne', serif;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.bio-content>p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.5;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 15px;
}

.contact-title>h1 {
    font-size: 3rem;
    font-family: 'Benne', serif;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.contact-content>p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 15px;
}

.form {
    line-height: 2.5rem;
    font-family: 'Roboto', sans-serif;
    padding: 0 0 0 0
}

/*--------------------------------------------Navbar.css*/

.navbar {
    padding: 0.1rem 1rem;
    line-height: 2.5rem;
}

.navbar-custom {
    background-color: rgb(12, 11, 11);
}

.navbar-custom .navbar-brand {
    color: #00ccff;
}

.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-custom .nav-item:hover .nav-link {
    color: #00ccff;
}

.navbar-custom .navbar-text {
    color: #ffffff;
    font-size: smaller;
}

/*--------------------------------------------Hero Image, Logo, Social Icons.css*/

.hero {
    height: 96vh;
    background: url("../images/wahero2.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-background-transition: all 0.5s;
    -moz-background-transition: all 0.5s;
    z-index: -1;
}

.logo {
    height: 6vh;
    position: relative;
    bottom: 0px;
    margin-top: 75vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.hero-socials {
    position: relative;
    margin-top: 0vh;
}

.hero-socials i {
    font-size: 3rem;
    padding-bottom: 15px;
}

.fa-facebook, .fa-instagram, .fa-twitter, .fa-youtube {
    color: #14a8d4;
}

.fa-facebook:hover {
    color: rgb(24, 119, 242);
}

.fa-instagram:hover {
    color: rgb(195, 42, 163);
}

.fa-twitter:hover {
    color: rgb(24, 199, 242);
}

.fa-youtube:hover {
    color: rgb(255, 0, 0);
}

/*--------------------------------------------Latest Release Artwork/Info, Store Icons, Youtube Embed.css*/

.release-title {
    margin-top: 52px;
    margin-bottom: 30px;
}

.blue-weekend-artwork {
    background: url("../images/wabwartwork.jpeg") no-repeat center center scroll;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-background-transition: all 0.5s;
    -moz-background-transition: all 0.5s;
    padding: 0;
    min-height: 400px;
    margin-bottom: 40px;
}

.border-margin {
    margin-top: 7px;
    max-height: 386px;
    border: 2px solid #00ccff;
    margin-bottom: 40px;
}

.store-links {
    position: relative;
    margin-bottom: 30px;
    letter-spacing: 30px;
    margin-left: 2vw;
}

.store-links i {
    font-size: 3rem;
    padding-bottom: 20px;
}

.fa-spotify, .fa-apple, .fa-amazon, .fa-youtube, .fa-record-vinyl {
    color: #14a8d4;
}

.fa-spotify:hover {
    color: rgb(30, 215, 96);
}

.fa-apple:hover {
    color: rgb(166, 177, 183);
}

.fa-amazon:hover {
    color: rgb(0, 119, 193);
}

.fa-youtube:hover {
    color: rgb(255, 0, 0);
}

.fa-record-vinyl:hover {
    color: rgb(0, 0, 0);
}

.yt-embed-home {
    width: 100%;
    height: 550px;
    font-size: 0;
}

/*--------------------------------------------------------------Footer.css*/

.footer-container {
    height: 8vh;
    background-color: rgb(12, 11, 11);
}

.footer-socials {
    font-size: 2rem;
}

.footer-signup p {
    color: #ffffff;
    font-size: smaller;
}

.footer-signup {
    color: #ffffff;
    margin-right: 1rem;
}

.footer-logo {
    height: 30px;
    position: relative;
}

/*--------------------------------------------------------------Biography.css*/

.bio-background {
    background-color: #f1eded;
}

.bio-img {
    background: url("../images/walive3.jpg") no-repeat center center scroll;
    min-height: 350px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-background-transition: all 0.5s;
    -moz-background-transition: all 0.5s;
    padding: 0;
    border-radius: 1px;
}

.bio-content {
    border: 2px solid #00ccff;
    margin-bottom: 5vh;
    padding: 5px 5px;
}

.release-container {
    background-color: #f1eded;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

.padding-adjust {
    padding-top: 0;
}

/*--------------------------------------------------------------Contact.css*/

.contact-background {
    background-color: #f1eded;
}

.contact-content {
    border: 2px solid #00ccff;
    margin-bottom: 5vh;
}

/*--------------------------------------------------------------Form/Modal Form.css*/

.form {
    margin-bottom: 5vh;
}

.form-submit {
    padding-top: 20px;
}

label {
    margin-bottom: 0;
}

.modal-form-privacy {
    margin-top: 1.5vh;
}

/*--------------------------------------------------------------Music.css*/

.visions-of-a-life-artwork {
    background: url("../images/wavoalartwork.jpeg") no-repeat center center scroll;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-background-transition: all 0.5s;
    -moz-background-transition: all 0.5s;
    padding: 0;
    min-height: 400px;
    margin-bottom: 40px;
}

.my-love-is-cool-artwork {
    background: url("../images/wamlicartwork.jpeg") no-repeat center center scroll;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-background-transition: all 0.5s;
    -moz-background-transition: all 0.5s;
    padding: 0;
    min-height: 400px;
    margin-bottom: 40px;
}

/*--------------------------------------------------------------Media Queries/Responsive Designs.css*/

@media only screen and (max-width: 1400px) {

}

@media only screen and (max-width: 1200px) {
    .nav-link, .navbar-brand {
        font-size: 2rem;
        padding: 15px 8px 2px 8px;
        letter-spacing: 1px;
    }
    .nav-link {
        font-size: 1.5rem;
    } 
    .logo {
        height: 5vh;
        margin-top: 77vh;
        margin-bottom: 5px;
    } 
    .hero-socials i {
        font-size: 3rem;
        padding-bottom: 15px;
        padding-top: 20px;
    }
    .responsive-title {
        margin-top: 52px;
        margin-bottom: 0px;
    } 
    .release-info>h2 {
        font-size: 1.9rem;
    } 
    .responsive-info {
        margin-top: 37px;
        max-height: 327px;
        margin-bottom: 17px;
    } 
    .margin-padding-remove {
        margin: 0;
        padding: 0;
    } 
    .responsive-artwork {
        margin-bottom: 15px;
    }
    .responsive-info>p {
        font-size: 0.9rem;
        line-height: 1.5;
    } 
} 

@media only screen and (max-width: 992px) {
    .navbar {
        position: fixed;
        right: 0;
        left: 0;
        border-radius: 0;
        top: 0;
        z-index: 10;
    }
    .hero {
        height: 100vh;
    }
    .hero-socials i {
        font-size: 2.5rem;
        padding-bottom: 15px;
        padding-top: 2vh;
    }
    .logo {
        height: 4vh;
        margin-top: 87vh;
        margin-bottom: 5px;
    }
    .responsive-title {
        margin-top: 30px;
        margin-bottom: 23px;
    }
    .responsive-store-links {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .contact-title>h1 {
        margin-top: 12vh;
    }
}

@media (max-width: 575.98px) {
    .navbar {
        position: fixed;
        right: 0;
        left: 0;
        border-radius: 0;
        top: 0;
        z-index: 10;
    }
    .hero {
        height: 100vh;
    }
    .logo {
        display: none;
    }
    .hero-socials {
        margin-top: 90vh;
    }
    .responsive-title {
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .border-margin {
        margin-top: 0;
        margin-bottom: 10px;
        border:0px

    }
    .store-links {
        position: relative;
        margin-bottom: 0;
        letter-spacing: 10px;
    }
    .footer-logo {
        display: none;
        height: 0;
    }
    .footer-socials {
        padding-top: 5px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .responsive-title-discography {
        padding-top: 40px;
    }
    .contact-title>h1 {
        margin-top: 90px;
    }
    .row {
        margin-right: 0px;
    }

    .release-container {
        padding-left: 0;
        padding-right: 0;
    }

    .bio-content {
        border: 0;
    }

    .store-links i {
        font-size: 2.5rem;
        padding-bottom: 20px;
    }

}